@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    letter-spacing: 3px;
    min-width: 1400px;
}

/* header */
#header{
    background: url(../images/header_image.jpg) no-repeat center top;
    height: 780px;
}
.header_inner{
    width: 1320px;
    height: 780px;
    margin: auto;
    padding: 30px 15px;
    position: relative;
}
.nav{
    float: left;
    padding: 15px;
}
.nav img{
    display: block;
}
.nav:hover{
    background: rgba(255, 255, 255, 0.5);
}

/* nav */
.nav_inner{
    position: absolute;
    top: 95px;
    left: 15px;
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    padding: 40px 30px;
    font-size: 24px;
    display: none;
}
.nav_inner>li{
    padding-bottom: 20px;
}
.nav_inner>li:nth-child(4){
    padding-bottom: 0;
}
.nav_inner>li>a:hover{
    background-color: #864e49;
    color: #c7c2b9;
}
.sub{
    font-size: 20px;
    display: none;
}
.sub>li{
    padding-top: 10px;
}
.sub>li>a:hover{
    border-bottom: 2px solid #864e49; 
}

.link{
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}
.link li{
    float: left;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    position: relative;
}
.link_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.link li:hover .link_hover{
    visibility: visible;
    opacity: 1;
}
.logo{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* main banner */
#main_banner{
    width: 1010px;
    height: 550px;
    margin: auto;
    position: relative;
}
.regular{
    position: absolute;
    top: -220px;
    margin-bottom: 130px;
}

/* about */
#about{
    background: #e3edd6 url(../images/logo_small.png) no-repeat center 423px;
    height: 870px;
    margin-bottom: 130px;
}
.about_inner{
    width: 740px;
    margin: auto;
    padding: 60px 0 25px;
}
.title{
    font-size: 30px;
    text-align: center;
    padding-bottom: 45px;
}
.green{
    background: url(../images/bg_green.jpg) no-repeat center 5px;
}
.left{float: left;}
.right{float: right;}
.about_inner div{
    width: 340px;
    height: 295px;
    margin-bottom: 60px
}
.text1, .text2{
    background-color: #808369;
    border-radius: 200px 0 200px;
    color: #fff;
    padding: 25px;
    box-sizing: border-box;
}
.about_inner p{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.about_inner h2{
    font-size: 35px;
    line-height: 35px;
}
.about_inner h3{
    font-size: 25px;
}
.text1 p, .text2 h2, .text2 h3{
    text-align: right;
    padding-bottom: 20px;
}
.text1 h2{
    padding-bottom: 20px;
}

/* video */
#video{
    text-align: center;
    margin-bottom: 130px;
}
.blue{
    background: url(../images/bg_blue.jpg) no-repeat center 5px;
}
.video_title{
    width: 190px;
    height: 45px;
    margin: 30px auto;
    background: url(../images/video_bg.jpg) no-repeat right bottom;
}
.video_title h2{
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}
.video_text{
    padding: 10px 0;
}
.video_text p:nth-child(2){
    padding: 35px 0;
}
.mark{
    background-color: #e3edd6;
}
.underline{
    text-decoration: underline;
}

/* category */
#category{
    text-align: center;
    margin-bottom: 130px;
}
.red{
    background: url(../images/bg_red.jpg) no-repeat center 5px;
}
.category{
    width: 920px;
    height: 115px;
    margin: auto;
    overflow: hidden;
}
.category li{
    float: left;
    margin-right: 25px;
    width: 110px;
    height: 115px;
    box-sizing: border-box;
    position: relative;
}
.category li:nth-child(7){
    margin-right: 0;
}
.category_bg{
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 1s;
}
.category li:hover .category_bg{
    visibility: visible;
    top: 0;
}
.category_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.category li:hover .category_hover{
    visibility: visible;
    opacity: 1;
}
.brands{
    width: 1320px;
    margin: auto;
    margin-top: 75px;
    overflow: hidden;
}
.brands li{
    display: block;
    width: 440px;
    height: 440px;
    float: left;
    position: relative;
}

.brands div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.bg1{
    background-color: rgba(134, 78, 73, 0.4);
}
.bg2{
    background-color: rgba(184, 206, 230, 0.5);
}
.bg3{
    background-color: rgba(58, 53, 36, 0.4);
}
.bg4{
    background-color: rgba(199, 194, 185, 0.6);
}
.brands div h1{
    position: absolute;
    font-size: 48px;
    line-height: 60px;
    color: #eae5df;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.brands li:hover .bg1{
    visibility: visible;
    opacity: 1;
}
.brands li:hover .bg2{
    visibility: visible;
    opacity: 1;
}
.brands li:hover .bg3{
    visibility: visible;
    opacity: 1;
}
.brands li:hover .bg4{
    visibility: visible;
    opacity: 1;
}

/* best item */
#best{
    clear: both;
    text-align: center;
    margin-bottom: 130px;
    padding: 60px 0 85px;
    background-color: #eae5df;
}
.gray{
    background: url(../images/bg_gray.jpg) no-repeat center 5px;
}
.best_text{
    padding: 15px 0;
    width: 350px;
}
.best_text h4{
    font-size: 18px;
}
.best_text h5{
    font-size: 16px;
    padding: 15px 0;
}
.best_text h6{
    font-size: 14px;
    font-weight: normal;
}

/* service */
#service{
    margin-bottom: 130px;
    overflow: hidden;
}
.blue2{
    background: url(../images/bg_blue2.jpg) no-repeat center 5px;
}
#service ul{
    width: 860px;
    margin: auto;
}
#service li{
    width: 405px;
    height: 410px;
    position: relative;
}
#service li:nth-child(1){float: left;}
#service li:nth-child(2){float: right;}
.service_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
#service li:hover .service_hover{
    visibility: visible;
    opacity: 1;
}
.service1_text, .service2_text{
    position: absolute;
    top: 310px;
    left: 0;
    width: 405px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 12px;
    box-sizing: border-box;
}

.service1_text{
    text-align: right;
}
.service2_text{
    text-align: left;
}
#service h2{
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 10px;
}

/* showroom */
#showroom{
    background-color: #f0e4e4;
    overflow: hidden;
    padding-top: 60px;
}
.red2{
    background: url(../images/bg_red2.jpg) no-repeat center 5px;
}
.showroom{
    width: 910px;
    height: 485px;
    margin: auto;
    position: relative;
}
.showroom_button{
    display: inline-block;
    padding: 15px 40px;
    background-color: rgba(199, 194, 185, 0.35);
    font-size: 25px;
    position: absolute;
    left: 70px;
    bottom: 70px;
}
.showroom_button:hover{
    background-color: rgba(199, 194, 185, 10.35);
}
.sub_banner{
    width: 1130px;
    margin: 80px auto;
    overflow: hidden;
}
.sub_banner li{
    float: left;
    padding-right: 30px;
    position: relative;
}
.sub_banner li:nth-child(2){
    padding-right: 0;
}
.white{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.sub_banner li a:hover .white{
    display: block;
}

/* footer */
#footer{
    padding: 60px 0;
    background-color: #412321;
    height: 340px;
    box-sizing: border-box;
}
.footer_inner{
    width: 1136px;
    margin: auto;
}
.footer_left, .footer_right{
    float: left;
    width: 553px;
    height: 220px;
    margin-left: 30px;
    box-sizing: border-box;
}
.sub_logo{
    display: inline-block;
    margin-bottom: 30px;
}
.footer_text{
    padding: 5px 0;
}
.footer_text p{
    color: #888;
    font-size: 12px;
    line-height: 22px;
}
.footer_link{
    padding-top: 10px;
}
.footer_link li{
    float: left;
    color: #888;
    font-size: 12px;
    padding-right: 5px;
}
.footer_link li a{
    color: #888;
    font-size: 12px;
}
.footer_right{
    margin-left: 0;
}
.footer_right h1{
    color: #c7c2b9;
    font-size: 30px;
    font-weight: 500;
    padding: 25px 0 20px;
    clear: both;
}
.footer_right h1:nth-child(1){
    padding: 0 0 20px 0;
}
.footer_right li{
    float: left;
}
.email li input[type="email"]{
    width: 450px;
    height: 40px;
    border: none;
    margin-right: 23px;
    font-size: 18px;
    padding-left: 10px;
    box-sizing: border-box;
    outline-style: none;
}
.email li:nth-child(2){
    width: 80px;
    height: 40px;
    background: url(../images/email_button_click.jpg);
}
.email li:nth-child(2):hover .button{
    opacity: 0;
}
.sns li{
    float: left;
    padding-right: 20px;
    opacity: 0.5;
}
.sns li:hover{opacity: 1;}

/* email popup */
#popup_email{
    width: 300px;
    height: 200px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.popup_inner{
    width: 300px;
    height: 170px;
    text-align: center;
    padding-top: 70px;
    font-size: 16px;
    box-sizing: border-box;
}
.popup_inner p{
    padding-bottom: 17px;
}
.ok{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: 2px solid #864e49;
    vertical-align: middle;
    padding-top: 2px;
    padding-left: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    background: #fff url(../images/ok.png) no-repeat 10px center;
}
.ok:hover{
    background: #864e49 url(../images/ok_hover.png) no-repeat 10px center;
    color: #c7c2b9;
}
.close{
    text-align: right;
}
.close a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/close.jpg) no-repeat right center;
}
.close a:hover{
    background: url(../images/close_hover.jpg) no-repeat right center;
}

/* fixed */
.fixed{
    display: inline-block;
    margin-bottom: 5px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.fixed li{
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.fixed_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.fixed li:hover .fixed_hover{
    visibility: visible;
}