@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    letter-spacing: 3px;
}

/* header */
#header{
    background: url(../images/header_sub1.png) no-repeat center top;
    height: 700px;
    margin-bottom: 50px;
    position: relative;
}
.header_inner{
    width: 1320px;
    margin: auto;
    padding:  30px 15px;
}
.nav{
    float: left;
    padding: 15px;
}
.nav img{
    display: block;
}
.nav:hover{
    background: rgba(255, 255, 255, 0.5);
}

/* nav */
.nav_inner{
    position: absolute;
    top: 95px;
    left: 300px;
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    padding: 40px 30px;
    font-size: 24px;
    display: none;
}
.nav_inner>li{
    padding-bottom: 20px;
}
.nav_inner>li:nth-child(4){
    padding-bottom: 0;
}
.nav_inner>li>a:hover{
    background-color: #864e49;
    color: #c7c2b9;
}
.sub{
    font-size: 20px;
    display: none;
}
.sub>li{
    padding-top: 10px;
}
.sub>li>a:hover{
    border-bottom: 2px solid #864e49; 
}

.link{
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}
.link li{
    float: left;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    position: relative;
}
.link_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.link li:hover .link_hover{
    visibility: visible;
    opacity: 1;
}
.logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* lnb */
#lnb{
    width:1136px;
	margin:auto;
    padding-bottom: 130px;
}
#lnb h1{
    font-size: 48px;
    padding-bottom: 25px;
}
#lnb ul{
    width: 1136px;
    border-top: 1px solid #ccc;
}
#lnb li{
    float:left;
    padding-right: 40px;
}
#lnb li a{
    display:block;
	font-size:30px;
}
.solid{
    width:100%;
	margin:auto;
	margin-bottom:20px;
	height:5px;
	background:#864e49;
	visibility:hidden;
	opacity:0;
	transform:scaleX(0);
	transition-property:opacity, transform;
	transition-duration:0.5s;
}
#lnb li a:hover .solid{
    transform:scaleX(1);
	opacity:1;
	visibility:visible;
}
#lnb li a:hover{
    font-weight: bold;
}
#lnb li:nth-child(2) a{
    font-weight: bold;
}


/* map */
#map{
    width: 1210px;
    height: 722px;
    margin: auto;
    padding-bottom: 130px;
    position: relative;
    box-sizing: border-box;
}
#map iframe{
    position: absolute;
    left: 0;
    top: 0;
}
.house{
    position: absolute;
    right: 0;
    top: 66px;
}
.house img{
    display: block;
    position: relative;
    width: 697px;
    height: 460px;
}
.white{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 697px;
    height: 234px;
    background: rgba(255, 255, 255, 0.5);
    padding: 35px 15px;
    box-sizing: border-box;
}
.white div{
    float: left;
}
.white h2{
    font-size: 24px;
    font-weight: normal;
}
.white h1{
    font-size: 30px;
    padding: 10px 0 20px;
}
.white p{
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.white h3{
    font-size: 16px;
}
.white div h3:nth-child(5){
    font-weight: normal;
}
.white ul{
    float: right;
    text-align: right;
    letter-spacing: 2px;
    font-size: 16px;
}
.white li{
    padding-bottom: 10px;
}
.white a{
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(234, 229, 223, 0.5);
}
.white a:hover{
    background-color: rgba(234, 229, 223, 1);
}

/* footer */
#footer{
    padding: 60px 0;
    background-color: #412321;
    height: 340px;
    box-sizing: border-box;
}
.footer_inner{
    width: 1136px;
    margin: auto;
}
.footer_left, .footer_right{
    float: left;
    width: 553px;
    height: 220px;
    margin-left: 30px;
    box-sizing: border-box;
}
.sub_logo{
    display: inline-block;
    margin-bottom: 30px;
}
.footer_text{
    padding: 5px 0;
}
.footer_text p{
    color: #888;
    font-size: 12px;
    line-height: 22px;
}
.footer_link{
    padding-top: 10px;
}
.footer_link li{
    float: left;
    color: #888;
    font-size: 12px;
    padding-right: 5px;
}
.footer_link li a{
    color: #888;
    font-size: 12px;
}
.footer_right{
    margin-left: 0;
}
.footer_right h1{
    color: #c7c2b9;
    font-size: 30px;
    font-weight: 500;
    padding: 25px 0 20px;
    clear: both;
}
.footer_right h1:nth-child(1){
    padding: 0 0 20px 0;
}
.footer_right li{
    float: left;
}
.email li input[type="email"]{
    width: 450px;
    height: 40px;
    border: none;
    margin-right: 23px;
    font-size: 18px;
    padding-left: 10px;
    box-sizing: border-box;
}
.email li:nth-child(2){
    width: 80px;
    height: 40px;
    background: url(../images/email_button_click.jpg);
}
.email li:nth-child(2):hover .button{
    opacity: 0;
}
.sns li{
    float: left;
    padding-right: 20px;
    opacity: 0.5;
}
.sns li:hover{opacity: 1;}

/* email popup */
#popup_email{
    width: 300px;
    height: 200px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.popup_inner{
    width: 300px;
    height: 170px;
    text-align: center;
    padding-top: 70px;
    font-size: 16px;
    box-sizing: border-box;
}
.popup_inner p{
    padding-bottom: 17px;
}
.ok{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: 2px solid #864e49;
    vertical-align: middle;
    padding-top: 2px;
    padding-left: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    background: #fff url(../images/ok.png) no-repeat 10px center;
}
.ok:hover{
    background: #864e49 url(../images/ok_hover.png) no-repeat 10px center;
    color: #c7c2b9;
}
.close{
    text-align: right;
}
.close a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/close.jpg) no-repeat right center;
}
.close a:hover{
    background: url(../images/close_hover.jpg) no-repeat right center;
}

/* fixed */
.fixed{
    display: inline-block;
    margin-bottom: 5px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.fixed li{
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.fixed_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.fixed li:hover .fixed_hover{
    visibility: visible;
}